#IDE
.idea

#develop env. Can be removed
composer.lock

#composer vendor
vendor/*

#logs
logs/*

#/db
.db/*
.db_test/*

#tests
tests/_output/*

#codeception test engine with vendors - for autocomplite IDE
# cp -R /repo/* /project/tests/.repo/
# from bscheshir/codeception image
/tests/.repo/

